ConsoleApp2/.vs/ConsoleApp2/v15/.suo
ConsoleApp2/.vs/ConsoleApp2/v15/Server/sqlite3/db.lock
ConsoleApp2/.vs/ConsoleApp2/v15/Server/sqlite3/storage.ide
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/ConsoleApp2.deps.json
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/ConsoleApp2.dll
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/ConsoleApp2.pdb
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/ConsoleApp2.runtimeconfig.dev.json
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/ConsoleApp2.runtimeconfig.json
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/EFLib.dll
ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.0/EFLib.pdb
ConsoleApp2/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.cache
ConsoleApp2/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.props
ConsoleApp2/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.targets
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.AssemblyInfo.cs
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.AssemblyInfoInputs.cache
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.csproj.CopyComplete
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.csproj.CoreCompileInputs.cache
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.csproj.FileListAbsolute.txt
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.csprojResolveAssemblyReference.cache
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.dll
ConsoleApp2/ConsoleApp2/obj/Debug/netcoreapp2.0/ConsoleApp2.pdb
ConsoleApp2/ConsoleApp2/obj/project.assets.json
ConsoleApp2/EFLib/bin/Debug/netcoreapp2.0/EFLib.deps.json
ConsoleApp2/EFLib/bin/Debug/netcoreapp2.0/EFLib.dll
ConsoleApp2/EFLib/bin/Debug/netcoreapp2.0/EFLib.pdb
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.AssemblyInfo.cs
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.AssemblyInfoInputs.cache
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.csproj.CoreCompileInputs.cache
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.csproj.FileListAbsolute.txt
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.csprojResolveAssemblyReference.cache
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.dll
ConsoleApp2/EFLib/obj/Debug/netcoreapp2.0/EFLib.pdb
ConsoleApp2/EFLib/obj/EFLib.csproj.nuget.cache
ConsoleApp2/EFLib/obj/EFLib.csproj.nuget.g.props
ConsoleApp2/EFLib/obj/EFLib.csproj.nuget.g.targets
ConsoleApp2/EFLib/obj/project.assets.json
